results/AntVillogOppdrettElvEstimater2023.csv
results/Beskatning_FangstAndel2023.csv
results/KgHunnlaks2023.csv
results/Maaloppnaaelse2023.csv
results/normal_beskatning_tabell.csv
results/resultat_fordeling_2023.csv
results/sjofangstfordeling_1993-2023.csv
results/sjofangstfordeling_2002-2023.csv
results/vassdrag_inkludert_normalbeskatning.csv
data/vassdrag/gamle filer til 2002/001.Z_Tista.csv
data/vassdrag/gamle filer til 2002/005.4Z_Gjersjøe.csv
data/vassdrag/gamle filer til 2002/006.Z_Akerselv.csv
data/vassdrag/gamle filer til 2002/007.Z_Lysakere.csv
data/vassdrag/gamle filer til 2002/011.Z_Lierelva.csv
data/vassdrag/gamle filer til 2002/012.Z_Drammens.csv
data/vassdrag/gamle filer til 2002/016.4Z_Herrevas.csv
data/vassdrag/gamle filer til 2002/018.Z_Vegårdsv.csv
data/vassdrag/gamle filer til 2002/025.3Z_Feda.csv
data/vassdrag/gamle filer til 2002/041.21Z_Svendsbø.csv
data/vassdrag/gamle filer til 2002/042.4Z_Mosnesel.csv
data/vassdrag/gamle filer til 2002/044.3Z_Ådland.csv
data/vassdrag/gamle filer til 2002/044.5Z_Kjærelva.csv
data/vassdrag/gamle filer til 2002/045.32Z_Guddalse.csv
data/vassdrag/gamle filer til 2002/046.3Z_Bondhuse.csv
data/vassdrag/gamle filer til 2002/050.4Z_Simadals.csv
data/vassdrag/gamle filer til 2002/052.6Z_Øystesee.csv
data/vassdrag/gamle filer til 2002/053.1Z_Tordalse.csv
data/vassdrag/gamle filer til 2002/055.3Z_Hopselva.csv
data/vassdrag/gamle filer til 2002/055.6Z_Lønningd.csv
data/vassdrag/gamle filer til 2002/057.2Z_Fjellvas.csv
data/vassdrag/gamle filer til 2002/062.Z_Vosso.csv
data/vassdrag/gamle filer til 2002/064.4Z_Romarhei.csv
data/vassdrag/gamle filer til 2002/067.4Z_Hopevass.csv
data/vassdrag/gamle filer til 2002/070.2Z_Ortnevik.csv
data/vassdrag/gamle filer til 2002/074.Z_Årdalsel.csv
data/vassdrag/gamle filer til 2002/076.Z_Jostedøl.csv
data/vassdrag/gamle filer til 2002/078.2Z_Storelvi.csv
data/vassdrag/gamle filer til 2002/078.5Z_Vetlefjo.csv
data/vassdrag/gamle filer til 2002/080.4Z_Bøelva.csv
data/vassdrag/gamle filer til 2002/083.4Z_Rivedals.csv
data/vassdrag/gamle filer til 2002/085.4Z_Solheims.csv
data/vassdrag/gamle filer til 2002/085.5Z_Norddals.csv
data/vassdrag/gamle filer til 2002/086.1Z_Indrehus.csv
data/vassdrag/gamle filer til 2002/087.1Z_Ryggelva.csv
data/vassdrag/gamle filer til 2002/093.3Z_Norddals.csv
data/vassdrag/gamle filer til 2002/094.6Z_Øyraelva.csv
data/vassdrag/gamle filer til 2002/097.6Z_Riksheim.csv
data/vassdrag/gamle filer til 2002/097.11Z_Standals.csv
data/vassdrag/gamle filer til 2002/097.721Z_Vikelva.csv
data/vassdrag/gamle filer til 2002/099.1Z_Eidsdals.csv
data/vassdrag/gamle filer til 2002/099.2Z_Norddals.csv
data/vassdrag/gamle filer til 2002/100.3Z_Vagsvike.csv
data/vassdrag/gamle filer til 2002/102.5Z_Skorgeel.csv
data/vassdrag/gamle filer til 2002/102.11Z_Hildreel.csv
data/vassdrag/gamle filer til 2002/105.3Z_Istadelv.csv
data/vassdrag/gamle filer til 2002/108.3Z_Batnfjor.csv
data/vassdrag/gamle filer til 2002/108.221Z_Vassgård.csv
data/vassdrag/gamle filer til 2002/109.4Z_Usma.csv
data/vassdrag/gamle filer til 2002/109.5Z_Litledal.csv
data/vassdrag/gamle filer til 2002/109.Z_Driva.csv
data/vassdrag/gamle filer til 2002/112.3Z_Bævra.csv
data/vassdrag/gamle filer til 2002/113.6Z_Todalsel.csv
data/vassdrag/gamle filer til 2002/119.4Z_Bergselv.csv
data/vassdrag/gamle filer til 2002/119.6Z_Åstelva.csv
data/vassdrag/gamle filer til 2002/119.42Z_Snilldal.csv
data/vassdrag/gamle filer til 2002/128.3Z_Figga.csv
data/vassdrag/gamle filer til 2002/133.2Z_Osaelva.csv
data/vassdrag/gamle filer til 2002/136.52Z_Straumsv.csv
data/vassdrag/gamle filer til 2002/137.7Z_Lauvsnes.csv
data/vassdrag/gamle filer til 2002/141.4Z_Kvistene.csv
data/vassdrag/gamle filer til 2002/141.Z_Opløyelv.csv
data/vassdrag/gamle filer til 2002/143.532Z_Horvenel.csv
data/vassdrag/gamle filer til 2002/144.4Z_Terråkel.csv
data/vassdrag/gamle filer til 2002/147.3Z_Færsetva.csv
data/vassdrag/gamle filer til 2002/148.Z_Lomselva.csv
data/vassdrag/gamle filer til 2002/149.2Z_Lakselvv.csv
data/vassdrag/gamle filer til 2002/149.6Z_Halsanel.csv
data/vassdrag/gamle filer til 2002/149.61Z_Hestdals.csv
data/vassdrag/gamle filer til 2002/151.1Z_Hundåla.csv
data/vassdrag/gamle filer til 2002/153.6Z_Bardalse.csv
data/vassdrag/gamle filer til 2002/153.32Z_Breiland.csv
data/vassdrag/gamle filer til 2002/155.4Z_Bjerka.csv
data/vassdrag/gamle filer til 2002/157.6Z_Brattlan.csv
data/vassdrag/gamle filer til 2002/157.42Z_Flostran.csv
data/vassdrag/gamle filer til 2002/157.52Z_Silavass.csv
data/vassdrag/gamle filer til 2002/160.51Z_Skromma.csv
data/vassdrag/gamle filer til 2002/160.71Z_Laksådal.csv
data/vassdrag/gamle filer til 2002/161.1Z_Sundfjor.csv
data/vassdrag/gamle filer til 2002/162.7Z_Lakselva.csv
data/vassdrag/gamle filer til 2002/165.1Z_Hopsvass.csv
data/vassdrag/gamle filer til 2002/165.8Z_Strandåv.csv
data/vassdrag/gamle filer til 2002/166.3Z_Lakselva.csv
data/vassdrag/gamle filer til 2002/166.4Z_Straumen.csv
data/vassdrag/gamle filer til 2002/167.Z_Kobbelvv.csv
data/vassdrag/gamle filer til 2002/168.6Z_Hopvassd.csv
data/vassdrag/gamle filer til 2002/168.7Z_Lommerva.csv
data/vassdrag/gamle filer til 2002/170.Z_Sagvatna.csv
data/vassdrag/gamle filer til 2002/171.6Z_Muskvike.csv
data/vassdrag/gamle filer til 2002/171.Z_Stabburs.csv
data/vassdrag/gamle filer til 2002/174.2Z_Lakselva.csv
data/vassdrag/gamle filer til 2002/174.3Z_Rombakse.csv
data/vassdrag/gamle filer til 2002/175.2Z_Bogenvas.csv
data/vassdrag/gamle filer til 2002/175.3Z_Laksåvas.csv
data/vassdrag/gamle filer til 2002/176.2Z_Myklebos.csv
data/vassdrag/gamle filer til 2002/177.1Z_Lakselva.csv
data/vassdrag/gamle filer til 2002/177.2Z_Melåa.csv
data/vassdrag/gamle filer til 2002/177.3Z_Botnelva.csv
data/vassdrag/gamle filer til 2002/178.2Z_Kongselv.csv
data/vassdrag/gamle filer til 2002/178.3Z_Kaljordv.csv
data/vassdrag/gamle filer til 2002/178.9Z_Langvatn.csv
data/vassdrag/gamle filer til 2002/178.42Z_Fiskfjor.csv
data/vassdrag/gamle filer til 2002/178.43Z_Blokkenv.csv
data/vassdrag/gamle filer til 2002/178.52Z_Osvollva.csv
data/vassdrag/gamle filer til 2002/178.54Z_Sørdalse.csv
data/vassdrag/gamle filer til 2002/178.55Z_Eidebukt.csv
data/vassdrag/gamle filer til 2002/178.62Z_Roksøyva.csv
data/vassdrag/gamle filer til 2002/178.73Z_Litlelvv.csv
data/vassdrag/gamle filer til 2002/178.74Z_Storelva.csv
data/vassdrag/gamle filer til 2002/178.112Z_Storvatn.csv
data/vassdrag/gamle filer til 2002/179.7Z_Delpvass.csv
data/vassdrag/gamle filer til 2002/179.8Z_Fiskebøl.csv
data/vassdrag/gamle filer til 2002/179.41Z_Svolværv.csv
data/vassdrag/gamle filer til 2002/179.332Z_Vestpoll.csv
data/vassdrag/gamle filer til 2002/180.4Z_Farstadv.csv
data/vassdrag/gamle filer til 2002/180.6Z_Borgevas.csv
data/vassdrag/gamle filer til 2002/180.11Z_Helosvas.csv
data/vassdrag/gamle filer til 2002/185.2Z_Vikelva.csv
data/vassdrag/gamle filer til 2002/185.3Z_Grytting.csv
data/vassdrag/gamle filer til 2002/185.4Z_Holmstad.csv
data/vassdrag/gamle filer til 2002/185.6Z_Straumev.csv
data/vassdrag/gamle filer til 2002/185.7Z_Ryggedal.csv
data/vassdrag/gamle filer til 2002/185.12Z_Lifjordv.csv
data/vassdrag/gamle filer til 2002/185.22Z_Bremnesv.csv
data/vassdrag/gamle filer til 2002/185.23Z_Gåsfjord.csv
data/vassdrag/gamle filer til 2002/185.43Z_Indre St.csv
data/vassdrag/gamle filer til 2002/185.44Z_Oshaugva.csv
data/vassdrag/gamle filer til 2002/185.52Z_Selnesva.csv
data/vassdrag/gamle filer til 2002/185.71Z_Nykvågva.csv
data/vassdrag/gamle filer til 2002/185.81Z_Nordsand.csv
data/vassdrag/gamle filer til 2002/185.111Z_Klovassd.csv
data/vassdrag/gamle filer til 2002/185.441Z_Lahaugva.csv
data/vassdrag/gamle filer til 2002/186.1Z_Ramsåa (.csv
data/vassdrag/gamle filer til 2002/186.3Z_Kobbedal.csv
data/vassdrag/gamle filer til 2002/186.51Z_Melavass.csv
data/vassdrag/gamle filer til 2002/186.53Z_Skogvoll.csv
data/vassdrag/gamle filer til 2002/186.61Z_Stavevas.csv
data/vassdrag/gamle filer til 2002/186.62Z_Bleiksva.csv
data/vassdrag/gamle filer til 2002/189.2Z_Tennevik.csv
data/vassdrag/gamle filer til 2002/190.7Z_Spansdal.csv
data/vassdrag/gamle filer til 2002/194.61Z_Vardnesv.csv
data/vassdrag/gamle filer til 2002/194.81Z_Å-vassdr.csv
data/vassdrag/gamle filer til 2002/195.1Z_Bunkanva.csv
data/vassdrag/gamle filer til 2002/195.51Z_Ballesvi.csv
data/vassdrag/gamle filer til 2002/195.52Z_Finnsæte.csv
data/vassdrag/gamle filer til 2002/197.4Z_Straumse.csv
data/vassdrag/gamle filer til 2002/197.63Z_Tromvikv.csv
data/vassdrag/gamle filer til 2002/198.7Z_Sørbotne.csv
data/vassdrag/gamle filer til 2002/198.42Z_Tømmerel.csv
data/vassdrag/gamle filer til 2002/198.52Z_Laksvatn.csv
data/vassdrag/gamle filer til 2002/199.2Z_Tønsvike.csv
data/vassdrag/gamle filer til 2002/199.3Z_Skittene.csv
data/vassdrag/gamle filer til 2002/200.3Z_Ringvatn.csv
data/vassdrag/gamle filer til 2002/202.3Z_Vannarei.csv
data/vassdrag/gamle filer til 2002/203.1Z_Oldervik.csv
data/vassdrag/gamle filer til 2002/203.8Z_Jægervat.csv
data/vassdrag/gamle filer til 2002/206.5Z_Rotsunde.csv
data/vassdrag/gamle filer til 2002/206.Z_Kåfjorde.csv
data/vassdrag/gamle filer til 2002/207.4Z_Nord-Rek.csv
data/vassdrag/gamle filer til 2002/211.32Z_Sør-Tver.csv
data/vassdrag/gamle filer til 2002/212.2Z_Halselva.csv
data/vassdrag/gamle filer til 2002/212.4Z_Mathisel.csv
data/vassdrag/gamle filer til 2002/212.6Z_Tverrelv.csv
data/vassdrag/gamle filer til 2002/212.7Z_Transfar.csv
data/vassdrag/gamle filer til 2002/213.1Z_Lakselv.csv
data/vassdrag/gamle filer til 2002/213.2Z_Skillefj.csv
data/vassdrag/gamle filer til 2002/220.1Z_Snefjord.csv
data/vassdrag/gamle filer til 2002/220.5Z_Hamneelv.csv
data/vassdrag/gamle filer til 2002/222.7Z_Ytre Bil.csv
data/vassdrag/gamle filer til 2002/227.2Z_Tømmervi.csv
data/vassdrag/gamle filer til 2002/231.64Z_Futelva.csv
data/vassdrag/gamle filer til 2002/238.Z_Sandfjor.csv
